<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>
  <script src="/js/app.js" ></script>
</head>
<body>
  <header>
    <section type="actions">
      <button id="volume" class="i-sound"></button>
      <span id="time" class='blue'>00:00</span>
      <button id="addPeople" class="i-addFriend"></button>
      <button id="fullScreen" class="i-maximize"></button>
    </section>
  </header>
  <section id="container" type="content" class="">
    <div id="myStream" class="stream own"></div>
    <!-- <div id="pubnub" pub-key="pub-65d61bb5-175f-4030-a368-3ae5f241a6b2" sub-key="sub-a9aabaee-4489-11e2-9510-5108acf0d0ac"></div> -->
    <div id="pubnub" pub-key="demo" sub-key="demo"></div>
    <div id="popup" class="popup hidden">
      <img src=""></img>
      <div class='left'>
        <span>would like to join</span>
        <div class='confirm'>
          <button id="accept" class='positive'>Accept</button>
          <button id="decline" class='negative'>Decline</button>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <button id="sendToPhone">Send to Phone</button>
    <button id="endConversation"> End Conversation</button>
  </footer>
  <script type="text/javascript">
  window.addEventListener('load', function() {
    TBClient.init('<%= params[:sessionId] %>', '<%= params[:email] %>');
    TBClient.connect('<%= params[:token] %>');
  });
</script>
<script src="http://cdn.pubnub.com/pubnub-3.3.min.js"></script>
</body>
</html>